*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Play", sans-serif;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(12, 4, 59, 0.8),
      rgba(12, 4, 59, 0.5),
      rgba(12, 4, 59, 1)
    ),
    url(img/bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.videographer {
  position: absolute;
  width: 40%;
  height: 70%;
  object-fit: cover;
  filter: grayscale(70%);
  opacity: 0.3;

  top: 15%;
  right: 25%;
}
.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo {
  width: 3rem;
  margin-right: 0.5rem;
}
.logo-text {
  font-size: 2.6rem;
}
.btn-nav {
  display: none;
}
.modal-navbar .nav__list {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(74, 101, 255, 0.1);
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  padding: 0 2rem;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  transition: 0.3s ease;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 0.01rem;
  background-color: #00ccff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover::after {
  bottom: -40%;
  width: 100%;
  height: 0.2rem;
  opacity: 1;
}

.titles-container {
  height: calc(70vh - 7.3rem);
  display: flex;
  align-items: center;
  margin-left: 35rem;
  color: #fff;
  z-index: 1;
}

.titles__title {
  font-size: 6rem;
}
.titles__subtitle {
  margin-top: 15rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.titles__cta {
  background-color: transparent;
  border: 2px solid #00ccff;
  padding: 1rem 2rem;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 3rem 0 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.titles__cta:hover {
  background-color: rgba(8, 3, 41, 0.5);
  border: 2px solid #120461;
}

.btn-tab {
  padding: 0 0.5rem;
  margin: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #00ccff;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-tab:hover {
  transform: scale(1.1);
}

.main {
  background-color: #0c043b;
  color: #fff;
}
.services {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 10rem 0;
}
.whatwedo-container {
  width: 40%;
  margin-right: 4rem;
}

.wwd__sub-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.wwd__title {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  position: relative;
}
.wwd__title::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  background-color: #00ccff;
  bottom: -2rem;
  left: 0;
}

.wwd__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #c0c0c0;
  margin-bottom: 2rem;
}
.btn-services {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  border: 2px solid #00ccff;
  cursor: pointer;
  transition: border 0.3 ease-in-out;
}
.btn-services:hover {
  border: 2px solid transparent;
  background-color: #fff;
  color: #0c043b;
}
.services-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.service-icon {
  font-size: 3rem;
  padding: 1.5rem;
  position: relative;
}
.service-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #00ccff;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}
.service:hover .service-icon::after {
  transform: rotate(45deg);
}
.service__title {
  font-size: 2rem;
  margin: 2rem 0;
}
.service__text {
  font-size: 1.6rem;
  color: #c0c0c0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.about {
  padding: 10rem 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
}
.about__images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 25rem);
  grid-gap: 2rem;
  margin-right: 4rem;
}
.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__image-1 {
  grid-row: 1 / span 2;
}
.about__who {
  width: 50%;
}

.about-icon {
  margin-top: 1rem;
}
.about__sub-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.about__title {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  position: relative;
}
.about__title::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  background-color: #00ccff;
  bottom: -2rem;
  left: 0;
}

.about__text {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #c0c0c0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.info-box:hover .about-icon::after {
  transform: rotate(45deg);
}

.tess {
  background-image: linear-gradient(
      to right,
      rgba(12, 4, 57, 0.7),
      rgba(12, 4, 57, 0.7)
    ),
    url(img/testimonials-bg.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
.tes__subtitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}
.tes__title {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  position: relative;
}
.tes__title::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  background-color: #00ccff;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%);
}
.tes-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

.tes__text {
  font-size: 2rem;
  color: #c0c0c0;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem 2rem;
  border: 1px solid #00ccff75;
  margin-bottom: 2rem;
}

.tes__client {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.client-img {
  width: 6rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}
.client__box {
  display: flex;
  justify-content: center;
}
.client__name {
  font-size: 2rem;
}
.client__job {
  font-size: 1.4rem;
}

.client-stats {
  padding: 24rem 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}

.sb-1 {
  grid-column: 2/3;
}

.sb-2 {
  grid-column: 4/5;
}

.sb-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.sb-4 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  aspect-ratio: 1;
  position: relative;
}
.stat-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #090235;
  transform: rotate(45deg);
  outline: 1px solid #b6b2ca;
  outline-offset: 6rem;
}

.sb-icon {
  font-size: 5rem;
  color: #00ccff;
  margin-bottom: 1rem;
  z-index: 3;
}
.stat__number {
  font-size: 6rem;
  z-index: 3;
}
.stat__text {
  font-size: 1.4rem;
  z-index: 3;
}
.team {
  padding: 10rem 0;
  width: 60%;
  margin: 0 auto;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40rem;

  padding-top: 10rem;
}

.team__subtitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}
.team__title {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  position: relative;
}
.team__title::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  background-color: #00ccff;
  bottom: -2rem;
  left: 0;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.team-img-2 {
  transform: translateY(-4rem);
}
.team-img-3 {
  transform: translateY(-8rem);
}
.team-img-4 {
  transform: translateY(-12rem);
}

.contact {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  position: relative;
}
.contact__title::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 0.5rem;
  background-color: #00ccff;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%);
}
.contact-info {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.c-info-box {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.info-icon {
  font-size: 3rem;
  margin-right: 2rem;
}
.info__title {
  font-size: 2rem;
}
.info__text {
  font-size: 1.6rem;
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__title {
  font-size: 2.5rem;
  margin: 3rem 0;
}
.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 60rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #18077a;
  margin-bottom: 2rem;
}

.input::placeholder {
  font-size: 1.8rem;
}

.btn-submit {
  padding: 1rem;
  border: none;
  background-color: #00ccff;
  color: #fff;
  font-size: 2rem;
}

.footer {
  padding: 6rem 0 2rem 0;
  background-color: #0c043b;
  border-top: 1px solid #1c0a81;
  color: #fff;
}
.footer-nav {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.footer__list {
  list-style: none;
  display: flex;
}

.footer__item {
  padding: 0 2rem;
}

.footer__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}

.cw {
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
}
@media only screen and (max-width: 1500px) {
  .about {
    width: 80%;
  }
  .services {
    width: 80%;
  }
  .team {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  .titles-container {
    justify-content: center;
    margin: 0;
  }
  .videographer {
    display: none;
  }
  .about {
    width: 90%;
  }
  .services {
    width: 90%;
  }
  .team {
    width: 90%;
  }
  .tes-container {
    width: 90%;
  }
  .client-stats {
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 4rem;
  }
  .stat-box {
    width: 100%;
    background-color: #120461;
  }
  .stat-box::after {
    display: none;
  }
  .sb-1 {
    grid-column: 1/2;
  }
  .sb-2 {
    grid-column: 2/3;
  }
  .sb-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .sb-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer-nav {
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .navbar {
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  .nav__list {
    display: none;
  }
  .btn-nav {
    display: block;
    font-size: 4rem;
    cursor: pointer;
  }
  .nav__list-2 {
    background-image: linear-gradient(
      to bottom,
      rgb(23, 14, 75),
      rgba(25, 16, 77, 0.5),
      rgb(42, 30, 93)
    );
    list-style: none;
    background-color: #1c0a81;
    padding: 2rem;
  }
  .nav__item {
    text-align: center;
    margin-bottom: 2rem;
  }
  .nav__link {
    color: #fff;
  }
  .rm-mg {
    margin-bottom: 0;
  }
  .about {
    flex-direction: column;
    padding-bottom: 0;
  }
  .about__images {
    width: 100%;
  }
  .about__who {
    padding: 6rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__title::after {
    left: 50%;
    transform: translate(-50%);
  }
  .services {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services-container {
    width: 90%;
  }
  .whatwedo-container {
    width: 60%;
    margin-right: 0;
    margin-bottom: 6rem;
  }
  .wwd__title::after {
    left: 50%;
    transform: translate(-50%);
  }
  .tes-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tes-tab {
    display: flex;
    align-items: center;
  }
  .tes__text {
    width: 50%;
    margin-bottom: 0;
  }
  .tes__client {
    width: 50%;
  }
  .footer-nav {
    width: 100%;
    flex-direction: column;
  }
  .footer__list {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .titles__subtitle {
    margin-top: 0;
    font-size: 1.6rem;
  }
  .titles__title {
    font-size: 4rem;
  }
  .about {
    width: 95%;
    padding: 4rem 0;
  }
  .about__images {
    grid-template-columns: 1fr;
  }
  .services {
    width: 95%;
  }
  .client-stats {
    width: 95%;
    padding: 10rem 0;
  }
  .team {
    width: 95%;
    text-align: center;
  }
  .tes-container {
    width: 95%;
  }
  .tes-tab {
    flex-direction: column;
  }
  .team__title::after {
    left: 50%;
    transform: translate(-50%);
  }
  .team-container {
    grid-template-columns: 1fr;
  }
  .team-img-2 {
    transform: translateY(0);
  }
  .team-img-3 {
    transform: translateY(0);
  }
  .team-img-4 {
    transform: translateY(0);
  }
  .contact-info {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .c-info-box {
    margin-right: 0;
  }
  .input {
    width: 30rem;
  }
  .footer__list {
    flex-direction: column;
    text-align: center;
  }
  .footer__item {
    margin-bottom: 2rem;
  }
}

.hidden {
  display: none;
}
